@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */
