@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */
